BOT_TOKEN=

AVITO_AGGREGATY_CLIENT_ID=
AVITO_AGGREGATY_CLIENT_SECRET=

AVITO_AVMEX_CLIENT_ID=
AVITO_AVMEX_CLIENT_SECRET=

AVITO_NM_ORANGE_CLIENT_ID=
AVITO_NM_ORANGE_CLIENT_SECRET=

AVITO_NM_BLUE_CLIENT_ID=
AVITO_NM_BLUE_CLIENT_SECRET=

AVITO_TIR_CLIENT_ID=
AVITO_TIR_CLIENT_SECRET=
