# BotHost сам предоставляет BOT_TOKEN.
# Для локального запуска его можно задать вручную:
BOT_TOKEN=

AVITO_AGGREGATY_CLIENT_ID=
AVITO_AGGREGATY_CLIENT_SECRET=

AVITO_AVMEX_CLIENT_ID=
AVITO_AVMEX_CLIENT_SECRET=
